<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>

<body>
    <h1> New Product</h1>
    <div class="forms">
    <form action="/store" method="POST">
        Name: <input type="text" name="name" /><br />
        Image: <input type="text" name="img" /><br />
        Description: <input type="text" name="disc" /><br />
        Price: <input type="number" name="price" /><br />
        Quantity: <input type="number" name="qty" /> <br />
        <input type="submit" name="" value="Add Product">
    </div>
</body>
</html>